.square {
	width: 150px;
	height: 150px;
	background: brown;
}

#animated {
	transform: translate(300px, 0);
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease;
}

#animated:hover {
}