body {
	margin: 0;
}

.level-1 {
	font-weight: bold;
	font-style: italic;
	font-size: 24px;
	border: solid red 3px;
	
	width: 100px;
	padding: 5px;
}

.level-2 {
	margin: 5px;
	border: solid black 3px;
}

.tests {
	padding: 5px;
}